# Logs
logs
*.log
npm-debug.log*

# OS
.Spotlight-V100
.Trashes
.DS_Store

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Merge conflict origs
.*.orig

# Floobits
.floo
.floobit
.floo
.flooignore

#TSD/Typings
typings

#in memory sqlite database (that for some reason gets written to disk)
:memory

opendoor.pem
.awscode
